/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "Nunito_Sans";
  src: url("../Assets/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

#root {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  display: flex;
  flex-direction: column;
  background-color: #F8F9FC;
}

.scroll-top{
  font-size: 3em;
  position: fixed;
  z-index: 1;
  bottom: 1em;
  right: 0.2em;
}
.scroll-top>a:hover{
  color: #cde1f8;
}

.App3{
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}
.mainRoute4 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3em;
  margin: 0 1em;
  justify-content: space-between;
}
.reseaux>i, .reseaux>a{
  color: #1e1e1e;
  margin-right: 0.5em;
    font-size: 2em;
}
.App-groupe4{
  display: flex;
  background-color: #1e1e1e;
  color: white;
  justify-content: center;
}
.footer-link{
  color: #1e1e1e !important;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .mainRoute4
  {
    flex-direction: column;
  }
  }